@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="form-form">
    <div class="form-form-wrap">
        <div class="form-container">
            <div class="form-content">

                <img src="~/assets/img/logo.jpg" class="navbar-logo" alt="logo">
                <p class="">Log in to admin account to continue.</p>
                <hr/>
                <div asp-validation-summary="All" class="text-danger"></div>
                <form id="account" asp-page="Login" method="post" class="text-left">
                    <div class="form">

                        <div id="username-field" class="field-wrapper input form-group">
                            <label for="username">USERNAME</label>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                            <input asp-for="Input.Email" type="text" class="form-control" placeholder="e.g name@mail.com">
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>

                        <div id="password-field" class="field-wrapper input mb-2 form-group">
                            <div class="d-flex justify-content-between">
                                <label for="password">PASSWORD</label>
                            </div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-lock"><rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect><path d="M7 11V7a5 5 0 0 1 10 0v4"></path></svg>
                            <input asp-for="Input.Password" type="password" class="form-control" placeholder="Password">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" id="toggle-password" class="feather feather-eye"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                          <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                        <div class="d-sm-flex justify-content-between">
                            <div class="field-wrapper">
                                <button type="submit" class="btn btn-primary" value="">Log In</button>
                            </div>
                        </div>

                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
