
@{
    ViewData["Title"] = "Google";
}

<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="101340651766-69701bh8k1sjfb1hft3i53ok27qovnq6.apps.googleusercontent.com">
<div class="g-signin2" data-onsuccess="onSignIn">Google</div>
<div >
    <p class="lead" style="width:500px; height:auto;" id="token">

    </p>
</div>

@section Scripts{
    <script>
        function onSignIn(googleUser) {
            var profile = googleUser.getBasicProfile();
            console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
            console.log('Name: ' + profile.getName());
            console.log('Image URL: ' + profile.getImageUrl());
            console.log('Email: ' + profile.getEmail());
            console.log('id_token: ' + googleUser.getAuthResponse().id_token);
            console.log('id: ' + profile.getId());

            var id_token = googleUser.getAuthResponse().id_token;
            
            var token = document.getElementById('token');
            token.innerHTML = id_token;
           
        }


        var xhr = new XMLHttpRequest();
        xhr.open('POST', 'https://localhost:44375/tokensignin');
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.onload = function () {
            console.log('Signed in as: ' + xhr.responseText);
        };
        xhr.send('idtoken=' + id_token);
      
    </script>


}