@model Application.Programs.EditEpisodeVm

@{
    ViewData["Title"] = "Edit Episode";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Episode</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="ProgramId" />
            <div class="form-group">
                <label asp-for="Number" class="control-label"></label>
                <input asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duration" class="control-label"></label>
                <input asp-for="Duration" class="form-control" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Url" class="control-label">Episode Recored</label>

                <audio controls>
                    <source src="@Model.Url">
                </audio>
            </div>
            <div class="form-group row">
                <label asp-for="File" class="col-sm-2 col-form-label">Audio</label>
                <div class="col-sm-10">
                    <div class="custom-file">
                        <input asp-for="File" type="file" accept="audio/*" class="form-control custom-file-input" />
                        <label class="custom-file-label">Choose File...</label>
                        <span asp-validation-for="File" class="text-danger"></span>
                    </div>

                </div>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Guest" /> @Html.DisplayNameFor(model => model.Guest)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="GuestName" class="control-label">Guest Name</label>
                <input asp-for="GuestName" class="form-control" />
                <span asp-validation-for="GuestName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
